body{
    background-image: url(../img/maldives.jpg);
    }
    
    .mt-auto{
        margin-top: 55% !important;
    }
    
    .card{
        margin: 20px;
    }

    .visite {
        color: white;
    }